.reg-ico{

    color:grey;
}
.nav-item >.active .reg-ico {

    color:#ff865b;
}

@media screen and (max-width: 299px) {
    .reg-ico {
        font-size: 3.5em;
    }
    .reg-heading {
        font-size: 5px;
    }
}

@media screen and (min-width: 300px) and (max-width: 799px) {
    .reg-ico {
        font-size: 4em;
    }
    .reg-heading {
        font-size: 5px;
    }
}

@media screen and (min-width: 800px) {
    .reg-ico {
        font-size: 7em;
    }
    .reg-heading {
        font-size:15px;
    }
}